<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sacer_000.boutongg">

    <uses-feature android:name="android.hardware.CAMERA" />

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/bee"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".menuPcpl"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".menuRuchers"
            android:label="@string/ruchers"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".menuRuches"
            android:label="@string/ruches"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".newRucher"
            android:label="Nouveau Rucher"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".newPoids"
            android:label="Ajout de poids"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".infoRuche"
            android:label="Informations ruche"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".newRuche"
            android:label="Nouvelle ruche"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".qrCode"
            android:label="Lecteur de QR Code"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".option"
            android:label="Options"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".newRecolte"
            android:label="Recolte"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TableauRucher"
            android:label="Miel"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ajouterDate"
            android:label="Nouvelle date"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ajoutTraitement"
            android:label="Nouveau traitement"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".listeTraitements"
            android:label="Liste des traitements dans la table"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ajoutNourrissement"
            android:label="Nouveau nourrissement"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".listeNourrissement"
            android:label="Liste des nourrissements"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LecteurQRCode"
            android:label="Lecteur de QR Code"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".tabbedInfoRuches"
            android:label="@string/title_activity_tabbed_info_ruches"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".dates"
            android:label="@string/title_activity_dates"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".traitementRuche"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".nourrissementRuche"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".poidsRuche"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".menuRucherSup"
            android:screenOrientation="portrait" />
        <activity
            android:name=".menuRucheSup"
            android:screenOrientation="portrait" />
        <activity
            android:name=".menuSuppression"
            android:screenOrientation="portrait" />
    </application>

</manifest>
